/*Resets*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--page-font);
  line-height: 1.4;
  height: 100vh;
}

img,
svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

input,
button {
  font: inherit;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}
/*Declarations*/
:root {
  font-size: 62.5%;
  --system-font: --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --logo-font: Merienda;
  --page-font: Montserrat;
  --sidebar-bg: #209CEE;
  --text-light: #818181;
}

.icon-sm {
  height: 1.8em;
  aspect-ratio: 1;
}

.utility-icon {
  height: 1.5em;
  aspect-ratio: 1;
}

@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat.ttf);
}

@font-face {
  font-family: Merienda;
  src: url(assets/fonts/Merienda.ttf);
}
/*Layout*/
body {
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 9fr;
}
/*Settings UI*/
.settings-ui {
  grid-row: 1 / -1;
  background-color: var(--sidebar-bg);
  color: white; /* CHANGE THIS*/
  font-size: 2rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  z-index: 2;
}
/*User Hero Section*/
.user-status {
  height: 8.6rem;
  background-color: #1B7DBE;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.profile-pic {
  height: 7rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid black;
}

.user-header {
  width: 100%;
}

.user-activity {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.activity-icon {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: lightgreen;
}

.activity {
  font-size: 1.55rem;
}
/*Settings*/
.user-actions {
  display: flex;
  flex-direction: column;
}

.user-actions > div {
  height: 8.6rem;
  padding-left: 10%;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition-duration: 0.3s;
}

.user-actions >div:hover:not(.user-status):not(.user-library) {
  cursor: pointer;
  background-color: #1B7DBE;
  color: #E0E0E0;
}

.user-library {
  background-color: #1B7DBE;
  color: #E0E0E0;
}
/*Logo*/
.settings-ui {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-header {
  font-family: var(--logo-font);
  font-size: 4rem;
  font-style: italic;
  font-weight: 600;
  text-shadow: 1px 1px 2px #929292;
  letter-spacing: -3px;
  text-align: center;
  margin-bottom: 10px;
  user-select: none;
}

.cp {
  font-size: 1.5rem;
  vertical-align: bottom;
}
/*Searchbar*/
.searchbar-container {
  border: 2px solid red;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 5fr;
  
}

.searchbar {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding-left: 2rem;
}

.search {
  height: 2.5rem;
  fill: var(--text-light);
}

.search-field {
  height: 4rem;
  width: 80%;
  font-size: 2.3rem;
  color: var(--text-light);
  border: none;
}

.search-field:focus {
  outline: none;
}

.search-field::placeholder {
  letter-spacing: -1.4px;
}
/*Add a book button*/
.addbook-container {
  grid-column: 3 / 4;
  display: grid;
  place-items: center;
}

.add-book {
  background-color: #00C27B;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  height: 50px;
}

.add-text,
.add-icon {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
}

.add-icon {
  background-color: RGBA(0, 0, 0, 0.15);
}

.button-icon {
  fill: white;
  height: 1.4em;
  aspect-ratio: 1;
}

.add-book:hover {
  background-color: #00CF83;
}

.add-book:active {
  transform: translateY(1px);
}
/*Notifications*/
.notification-container {
  grid-column: 4 / 5;

}
.notification-container {
  display: grid;
  place-items: center;
  padding: 0 4.5rem;
}

.notification {
  height: 2.5rem;
  fill: var(--text-light);
}

.not-wrapper {
  position: relative;
  cursor: pointer;
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(255, 99, 99);
  border-radius: 1px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 1px 3px;
}
/*Footer*/
footer {
  background: RGBA(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5px);
  font-family: var(--page-font);
  font-size: 1.5rem;
  color: #C7C7C7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px;
}

.git-logo {
  filter: invert(90%) sepia(83%) saturate(0%) hue-rotate(305deg) brightness(113%) contrast(100%);
  transition-duration: 0.3s;
}

.git-logo:hover {
  transform: scale(1.1);
}
